openapi: 3.0.3
info:
  title: API of klavogonki.ru
  description: API collected from known endpoints
  version: 0.0.1
servers:
  - url: http://klavogonki.ru/api/
    description: Main (production) server

# todo: also fill the KG's test server
  - url: http://test.klavogonki.ru/api
    description: Test server

##################### ПРОФИЛЬ ИГРОКА #####################

# биография, текущая машина итд
# GET /profile/get-summary?id=242585

# досье / сводка
# GET /profile/get-index-data?userId=242585

# бортжурнал
# sort=posts - сортировка по дате записи
# sort=comments - сортировка по комментариям

# showHidden=0 - не показывать скрытые записи ??? private only?
# showHidden=1 - показывать скрытые записи ??? private only?

# discussOnly=0 - показывать записи как с комментариями, так и без
# discussOnly=1 - показывать только с комментариями

# тип записи filter=achieve,record,car,voc,clubs,events,text_owner,text_other
# filter=achieve - достижения
# filter=record - рекорды
# filter=car - машины
# filter=voc - словари
# filter=clubs - клубы
# filter=events - события
# filter=text_owner - свои заметки
# filter=text_other - чужие заметки

# GET /profile/get-journal?id=242585

# GET /profile/get-journal?id=242585&limit=15&sort=comments&filter=achieve,record,car,voc,clubs,events,text_owner,text_other&showHidden=1&ignoreFriends=&discussOnly=0:

# пройденные достижения q=done
# GET /profile/get-achieves?q=done&sort=difficulty&userId=242585

# достижения в прогрессе
# sort=progress - сортировка "по прогрессу"
# sort=date - сортировка "по последнему обновлению"
# sort=difficulty - сортировка "по типу"
# GET /profile/get-achieves?q=progress&skip=0&sort=progress&userId=242585

# гараж (список машин)
# GET /profile/get-cars-list?userId=242585

# друзья. Вроде бы возвращает всех друзей, без всякого пейджинга.
# GET /profile/get-friends?userId=242585

# статистика - вроде бы все режимы
# GET /profile/get-stats-overview?userId=242585

# статистика по конкретному режиму
# gametype=normal - обычный
# gametype=marathon - марафон
# gametype=chars - буквы
# gametype=noerror - безошибочный
# gametype=digits - цифры
# gametype=sprint - спринт
# gametype=abra - абракадабра
# gametype=referats - Яндекс.Рефераты

# gametype=voc-13589 - кастомный словарь


# todo: what is profile/get-stats-details ?

# grouping=week - группировать по неделям
# grouping=day - группировать по дням
# grouping=none - группировать по "подробно" - доступно только в премиуме

# GET /profile/get-stats-details-data?userId=242585&gametype=normal&fromDate=2011-02-16&toDate=2020-12-15&grouping=week

##################### PROFILE - PRIVATE ONLY #####################
# {"err":"no auth"}, status 200
# GET /profile/get-private-prefs?id=242585

# сообщения
# GET /profile/get-messages-contacts:

# игнорируемые пользователи
# GET /profile/get-ignore-list

# выбрать машину
# POST /profile/select-car
# {"id":22} - payload

# обслуживание машины
# возвращает весь возможный набор тюнинга
# POST profile/view-car
# {"car":"18"} - payload

##################### СЛОВАРИ #####################
# Нет API, всё выдаётся прямо на странице?

# !! это не /api эндпойнты!
##################### ИГРА #####################
# список данных
# http://klavogonki.ru/gamelist.data

# получить задачи дня
# http://klavogonki.ru/views/partials/dlg-dailytask.html?bust=1601778366734

paths:
  # todo: fill details for all paths
  # todo: fill query and request body models for all paths
  # todo: fill response models for all paths

  /profile/get-summary:
    get:
      summary:
      description:

  /profile/get-index-data:
    get:
      summary: Получает данные для раздела «Сводка» профиля игрока
      description:
      parameters:
        - in: query
          name: userId
          required: true
          schema:
            $ref: '#/components/schemas/PlayerId'
          description: playerId
      responses:
        200:
          description: Данные о сводке игрока либо ошибка, если игрок не найден или его профиль скрыт
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIndexDataResponse'


  /profile/get-journal:
    get:
      summary:
      description:

  /profile/get-achieves:
    get:
      summary:
      description:

  /profile/get-cars-list:
    get:
      summary:
      description:

  /profile/get-friends:
    get:
      summary:
      description:

  /profile/get-stats-overview:
    get:
      summary:
      description:

  /profile/get-stats-details-data:
    get:
      summary:
      description:

  /profile/get-stats-details:
    get:
      summary:
      description:

  ##################### PROFILE - PRIVATE ONLY #####################
  /profile/get-private-prefs:
    get:
      summary:
      description:

  /profile/get-messages-contacts:
    get:
      summary:
      description:

  /profile/get-ignore-list:
    get:
      summary:
      description:

  /profile/select-car:
    post:
      summary:
      description:

  /profile/view-car:
    post:
      summary:
      description:

#  /users:
#    get:
#      summary: Returns a list of users.
#      description: Optional extended description in CommonMark or HTML.
#      responses:
#        '200':    # status code
#          description: A JSON array of user names
#          content:
#            application/json:
#              schema:
#                type: array
#                items:
#                  type: string

# todo: we need to try by hand for each parameter to identify whether it is mandatory
components:
  schemas:
    Error:
      description: Ответ на любой запрос в случае ошибки
      type: object
      properties:
        err:
          description: Описание ошибки
          required: true
          type: string
          # todo: is "examples" supported? See https://swagger.io/docs/specification/adding-examples/
          # see https://www.viralpatel.net/openapi-multiple-examples/
          # see https://stackoverflow.com/questions/46578110/how-to-add-multiple-example-values-in-swagger-properties
          example:
            - invalid user id # Пользователь не существует, https://klavogonki.ru/api/profile/get-index-data?userId=1
            - hidden profile # Профиль пользователя скрыт, https://klavogonki.ru/api/profile/get-index-data?userId=21
            - mongo refs joining failed: invalid key users.achieves.achieve_id=599bd392df4e4d963a8b4570 # Ошибка в БД, https://klavogonki.ru/api/profile/get-index-data?userId=498727
            - permission blocked # Доступ запрещён. Например, скрытая статистика, https://klavogonki.ru/api/profile/get-stats-overview?userId=111001
            - invalid gametype # Неправильный словарь. http://klavogonki.ru/api/profile/get-stats-details?userId=242585&gametype=voc-8 - возвращает "invalid gametype", если у меня нет пробега по словарю

    Microtime:
      description: Microtime PHP format, date in 3Unix time + nanoseconds
      type: object
      properties:
        sec:
          type: integer # todo: long format?
          example: 1297852113 # 16.02.2011 @ 10:28am (UTC)
        usec:
          type: integer # todo: long format?
          example: 0

    PlayerId:
      description: Идентификатор игрока
      type: integer
      example: 242585

    # see https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/
    # see https://github.com/OAI/OpenAPI-Specification/issues/1758
    GetIndexDataResponse:
      oneOf:
        - $ref: '#/components/schemas/Error'
        - $ref: '#/components/schemas/GetIndexDataSuccess'

    GetIndexDataSuccess:
      description: Успешный ответ на запрос /get-index-data
      type: object
      # todo: descriptions for all properties
      properties:
        ok:
          type: integer
        bio:
          $ref: '#/components/schemas/Bio'
        stats:
          $ref: '#/components/schemas/GetIndexDataStats'

    GetIndexDataStats:
      description: Данные раздела «Досье» страницы «Сводка»
      type: object
      # todo: > 0, >=0 restrictions
      properties:
        registered:
#          description: Дата и время регистрации # todo: description no allowed with $ref, see https://github.com/OAI/OpenAPI-Specification/issues/1514, see https://github.com/TOMP-WG/TOMP-API/issues/275
          $ref: '#/components/schemas/Microtime'
        achieves_cnt:
          description: Число достижений
          type: integer
          example: 225
        total_num_races:
          description: Общий пробег (по всем режимам)
          type: integer
          example: 60633
        best_speed:
          description: Рекорд в «Обычном». <b>Can be null if player has no races in normal!</b>
          type: integer
          example: 626
        rating_level:
          description: Рейтинговый уровень. Новые игроки получают уровень 1.
          type: integer
          example: 32
        friends_cnt:
          description: Число друзей
          type: integer
          example: 102
        vocs_cnt:
          description: Число используемых словарей
          type: integer
          example: 110
        cars_cnt:
          description: Машин в гараже
          type: integer
          example: 33

    GetIndexDataAchieves:
      description: Пять ачивок, вынесенных пользователем в раздел «Сводка»
      type: object
      # todo: fill properties
      properties:

    Bio:
      description: Данные биографии из раздела «Сводка»
      type: object
      properties:
        _id:
          type: object #todo: add schema
        old_text:
          description: Старая разметка биографии (видимо, при импорте из старого профиля)
          type: string
        text:
          description: Биография (текущая). Содержит Markdown разметку
          type: string
        user_id:
          $ref: '#/components/schemas/PlayerId'

    # todo: most probably we should extend this (or probably use a string type instead) since requests also take gametype=voc-123
    # this is to document values for standard build-in dictionaries
    # see https://swagger.io/docs/specification/data-models/enums/
    # todo: описание для каждого значения энума
    StandardVocabulary:
      description: Стандартные словари
      type: string
      enum:
        - normal # Обычный
        - marathon # Марафон
        - chars # Буквы
        - noerror # Безошибочный
        - digits # Цифры
        - sprint # Спринт
        - abra # Абракадабра
        - referats # Яндекс.Рефераты

    # todo: описание для каждого значения энума
    NonStandardVocabularyType:
      description: Тип для нестандартных словарей, см. https://klavogonki.ru/vocs/search
      type: string
      enum:
        - words # Слова
        - phrases # Фразы
        - texts # Тексты
        - url # URL
        - book # Книга
        - generator # Генератор
